#include <windows.h>

1 ICON "assets/znap_icon.ico"
2 ICON "assets/znap_tray_icon.ico"

101 DIALOGEX 0, 0, 290, 88
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Znap"
FONT 9, "Segoe UI"
BEGIN
    LTEXT "Znap is not compatible with Windows default window snapping functionality. Disable window snapping from Windows settings.", -1, 12, 12, 266, 30
    DEFPUSHBUTTON "Open Settings", 2001, 194, 60, 84, 16
END
